.fillWidth {
  width: 100vw;
}

.fillHeight {
  overflow: scroll;
  height: calc(100% - 250px);
}

.showOverflow {
  overflow: visible;
}

.criteriaPosition {
  position: absolute;
  z-index: 100;
}

.filterGutter {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.scroll-margins {
  margin-bottom: 150px;
}

.highlight {
  background-color: yellow;
}
