.fillHeight {
  overflow: scroll;
  height: calc(100% - 250px);
}

.criteriaPosition {
  position: absolute;
  z-index: 1000;
}

.filterGutter {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.panelHeader {
  padding: 0.75rem;
  border-bottom: 1px solid #dddbda;
}
