.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body {
	margin: 0px;
	background: radial-gradient(#CECECE, #fff);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.iconContainer {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(167, 184, 209) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
}

.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 0px #0070D240 inset,
		0 -5px 15px 0px #0070D250 inset,
		0 -2px 5px #0070D280 inset,
		0 -3px 2px #0070D2BB inset,
		0 2px 0px #0070D2,
		0 2px 3px #0070D2,
		0 5px 5px #0070D290,
		0 10px 15px #0070D260,
		0 10px 20px 0px #0070D240;
	filter: blur(0px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}