<div>
    <div class="page-body">
        <h1 class="m-2">Privileged Permissions</h1>
        <div class="demo-only" style="height:12rem">
            <div class="slds-tabs_default">
              <ul class="slds-tabs_default__nav" role="tablist">
                <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation">
                  <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">System Permissions</a>
                </li>
                <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                  <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">User Permissions</a>
                </li>
                <li class="slds-tabs_default__item" title="Item Three" role="presentation">
                  <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Object Permissions</a>
                </li>
                <li class="slds-tabs_default__item" title="Item Four" role="presentation">
                  <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-4" id="tab-default-4__item">etc</a>
                </li>
                <li class="slds-tabs_default__item" title="Item Five" role="presentation">
                  <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-5" id="tab-default-5__item">etc</a>
                </li>
                <li class="slds-tabs_default__item slds-tabs_default__overflow-button" title="More Tabs" role="presentation">
                  <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
                    <button class="slds-button" aria-haspopup="true">More
                      <svg class="slds-button__icon slds-button__icon_x-small slds-button__icon_right" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                      </svg>
                    </button>
                    <div class="slds-dropdown slds-dropdown_right">
                      <ul class="slds-dropdown__list slds-dropdown_length-with-icon-10" role="menu">
                        <li class="slds-dropdown__item" role="presentation">
                          <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                            <span class="slds-truncate" title="Accounts">Accounts</span>
                          </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                          <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                            <span class="slds-truncate" title="Approvals">Approvals</span>
                          </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                          <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                            <span class="slds-truncate" title="Lead">Leads</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                <h2>Item One Content</h2>
              </div>
              <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                <h2>Item Two Content</h2>
              </div>
              <div id="tab-default-3" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">
                <h2>Item Three Content</h2>
              </div>
              <div id="tab-default-4" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-4__item">
                <h2>Item Four Content</h2>
              </div>
              <div id="tab-default-5" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-5__item">
                <h2>Item Five Content</h2>
              </div>
            </div>
        </div>
    </div>
</div>