.row {
    text-align: center;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

button {
    margin: auto;
    width: 50%;
}

.logo {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 100px;
}